# Proyek Analisis Data: E-Commerce Public Dataset
- **Nama:** Mukhlis Maulana Al-Fakih
- **Email:** mukhlis.maulanaalf@gmail.com
- **ID Dicoding:** alfakih

## Menentukan Pertanyaan Bisnis

- Produk atau kategori produk mana yang paling banyak terjual dan memiliki potensi peningkatan penjualan?
- Siapa pelanggan paling bernilai dan bagaimana karakteristik pelanggan yang melakukan pembelian berulang?

## Import Semua Packages/Library yang Digunakan

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

## Data Wrangling

### Gathering Data

In [15]:
customer_data = pd.read_csv('data/olist_customers_dataset.csv')
geo_data = pd.read_csv('data/olist_geolocation_dataset.csv')
order_items_data = pd.read_csv('data/olist_order_items_dataset.csv')
order_payments_data = pd.read_csv('data/olist_order_payments_dataset.csv')
order_reviews_data = pd.read_csv('data/olist_order_reviews_dataset.csv')
orders_data = pd.read_csv('data/olist_orders_dataset.csv')
products_data = pd.read_csv('data/olist_products_dataset.csv')
sellers_data = pd.read_csv('data/olist_sellers_dataset.csv')
product_category_data = pd.read_csv('data/product_category_name_translation.csv')

**Insight:**

<ul>
    <li><strong>Customer-Centric Analysis:</strong> Dataset ini menyediakan informasi yang cukup untuk melakukan
      analisis berbasis pelanggan, baik untuk melihat distribusi geografis pelanggan, frekuensi pembelian, hingga ulasan
      produk.</li>
    <li><strong>Product-Centric Analysis:</strong> Data produk dan pesanan dapat memberikan insight mengenai produk
      terlaris, kategori yang paling laris, dan produk dengan potensi untuk lebih dipromosikan.</li>
    <li><strong>Operational Analysis:</strong> Melalui data pengiriman, kita bisa menganalisis efektivitas logistik dan
      pengaruhnya terhadap kepuasan pelanggan.</li>
    <li><strong>Segmentasi Pelanggan:</strong> Dataset memungkinkan untuk melakukan segmentasi pelanggan berdasarkan
      perilaku pembelian (RFM) serta mengidentifikasi pelanggan bernilai tinggi untuk strategi pemasaran yang tepat.
    </li>
  </ul>

### Assessing Data

**Membuat fungsi untuk mempermudah proses assessing data**

In [23]:
def assess_data(path, date_columns=None):
    # 1. Memuat dataset dari path yang diberikan
    try:
        dataset = pd.read_csv(path)
        print(f"Dataset loaded successfully from {path}")
    except Exception as e:
        print(f"Error loading dataset: {e}")
        return
    
    # 2. Menampilkan beberapa baris pertama
    print("\n--- First 5 Rows of Data ---")
    print(dataset.head())
    
    # 3. Menampilkan informasi struktur dataset
    print("\n--- Dataset Information ---")
    print(dataset.info())
    
    # 4. Memeriksa missing values
    print("\n--- Missing Values ---")
    missing_values = dataset.isnull().sum()
    print(missing_values[missing_values > 0])
    
    # 5. Memeriksa duplikasi
    duplicates = dataset.duplicated().sum()
    print(f"\n--- Number of Duplicate Rows: {duplicates}")
    
    # 6. Mengonversi kolom tanggal (jika ada)
    if date_columns:
        for col in date_columns:
            if col in dataset.columns:
                dataset[col] = pd.to_datetime(dataset[col], errors='coerce')
                print(f"Converted {col} to datetime format.")
    
    # 7. Menampilkan deskripsi statistik untuk data numerik
    print("\n--- Statistical Summary ---")
    print(dataset.describe())
    
    # 8. Menampilkan distribusi data untuk kolom kategorikal
    print("\n--- Value Counts for Categorical Columns ---")
    for col in dataset.select_dtypes(include='object').columns:
        print(f"\n{col} value counts:")
        print(dataset[col].value_counts().head(10))  # Menampilkan 10 nilai terbanyak
    
    return dataset

In [25]:
# Dataset order_items_data
order_items_data = assess_data('data/olist_order_items_dataset.csv', date_columns=['shipping_limit_date'])

Dataset loaded successfully from data/olist_order_items_dataset.csv

--- First 5 Rows of Data ---
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

--- Missing Values ---
Series([], dtype: int64)

--- Number of Duplicate Rows: 0
Converted shipping_limit_date to datetime format.

--- Statistical Summary ---
       order_item_id            shipping_limit_date          price  \
count  112650.000000                         112650  112650.000000
mean        1.197834  2018-01-07 15:36:52.192685312     120.653739
min         1.000000            2016-09-19 00:15:34       0.850000
25%         1.000000     2017-09-20 20:57:27.500000      39.900000
50%         1.000000            2018-01-26 13:59:35      74.990000
75%         1.000000  2018-05-10 14:34:00.750000128     134.900000
max        21.000000            2020-04-09 22:35:08    6735.000000
std         0.705124                            NaN     183.633928

       freight_value
count  112650.000000
mean       19.990320
min         0.000000
25%        13.080000
50%        16.260000
75%        21.150000
max       409.680000
std        15.806405

--- Value Counts for Categorical Columns ---

order_id value counts:
order_id
8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
9bdc4d4c71aa1de4606060929dee888c    14
73c8ab38f07dc94389065f7eba4f297a    14
37ee401157a3a0b28c9c6d0ed8c3b24b    13
af822dacd6f5cff7376413c03a388bb7    12
3a213fcdfe7d98be74ea0dc05a8b31ae    12
Name: count, dtype: int64

product_id value counts:
product_id
aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
53759a2ecddad2bb87a079a1f1519f73    373
d1c427060a0f73f6b889a5c7c61f2ac4    343
53b36df67ebb7c41585e8d54d6772e08    323
154e7e31ebfa092203795c972e5804a6    281
3dd2a17168ec895c781a9191c1e95ad7    274
Name: count, dtype: int64

seller_id value counts:
seller_id
6560211a19b47992c3666cc44a7e94c0    2033
4a3ca9315b744ce9f8e9374361493884    1987
1f50f920176fa81dab994f9023523100    1931
cc419e0650a3c5ba77189a1882b7556a    1775
da8622b14eb17ae2831f4ac5b9dab84a    1551
955fee9216a65b617aa5c0531780ce60    1499
1025f0e2d44d7041d6cf58b6550e0bfa    1428
7c67e1448b00f6e969d365cea6b010ab    1364
ea8482cd71df3c1969d7b9473ff13abc    1203
7a67c85e85bb2ce8582c35f2203ad736    1171
Name: count, dtype: int64

In [26]:
# Dataset product_data
products_data = assess_data('data/olist_products_dataset.csv')

Dataset loaded successfully from data/olist_products_dataset.csv

--- First 5 Rows of Data ---
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

--- Missing Values ---
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

--- Number of Duplicate Rows: 0

--- Statistical Summary ---
       product_name_lenght  product_description_lenght  product_photos_qty  \
count         32341.000000                32341.000000        32341.000000
mean             48.476949                  771.495285            2.188986
std              10.245741                  635.115225            1.736766
min               5.000000                    4.000000            1.000000
25%              42.000000                  339.000000            1.000000
50%              51.000000                  595.000000            1.000000
75%              57.000000                  972.000000            3.000000
max              76.000000                 3992.000000           20.000000

       product_weight_g  product_length_cm  product_height_cm  \
count      32949.000000       32949.000000       32949.000000
mean        2276.472488          30.815078          16.937661
std         4282.038731          16.914458          13.637554
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1900.000000          38.000000          21.000000
max        40425.000000         105.000000         105.000000

       product_width_cm
count      32949.000000
mean          23.196728
std           12.079047
min            6.000000
25%           15.000000
50%           20.000000
75%           30.000000
max          118.000000

--- Value Counts for Categorical Columns ---

product_id value counts:
product_id
106392145fca363410d287a815be6de4    1
1e9e8ef04dbcff4541ed26657ea517e5    1
3aa071139cb16b67ca9e5dea641aaa2f    1
96bd76ec8810374ed1b65e291975717f    1
cef67bcfe19066a932b7673e239eb23d    1
9dc1a7de274444849c219cff195d0b71    1
41d3672d4792049fa1779bb35283ed13    1
1060d9ab6b911bfce1439c25afcd790b    1
6f79d50d852c044e3f7f0954d13aeacf    1
0bf1dea484fbb8cdfa09e2767ce30574    1
Name: count, dtype: int64

product_category_name value counts:
product_category_name
cama_mesa_banho           3029
esporte_lazer             2867
moveis_decoracao          2657
beleza_saude              2444
utilidades_domesticas     2335
automotivo                1900
informatica_acessorios    1639
brinquedos                1411
relogios_presentes        1329
telefonia                 1134
Name: count, dtype: int64

In [27]:
# Dataset customer_data
customer_data = assess_data('data/olist_customers_dataset.csv')

Dataset loaded successfully from data/olist_customers_dataset.csv

--- First 5 Rows of Data ---
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

--- Missing Values ---
Series([], dtype: int64)

--- Number of Duplicate Rows: 0

--- Statistical Summary ---
       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

--- Value Counts for Categorical Columns ---

customer_id value counts:
customer_id
274fa6071e5e17fe303b9748641082c8    1
e5ed7280cd1a3ac2ba29fd6650d8867c    1
c6ece8a5137f3c9c3a3a12302a19a2ac    1
821a7275a08f32975caceff2e08ea262    1
5eef6cce1f34954c9e7004332388ccc7    1
be631308cb609ff74d0e0fb54815e18c    1
a1b5ca506b592bb72d4caadcbfe71385    1
30c96385d694acb8aa2dc0df1770120b    1
b7c889215de76857c7967c1011125d2d    1
c156d63bdfce1d456bd43cf1c4dadfca    1
Name: count, dtype: int64

customer_unique_id value counts:
customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
6469f99c1f9dfae7733b25662e7f1782     7
ca77025e7201e3b30c44b472ff346268     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
12f5d6e1cbf93dafd9dcc19095df0b3d     6
dc813062e0fc23409cd255f7f53c7074     6
47c1a3033b8b77b3ab6e109eb4d5fdf3     6
de34b16117594161a6a89c50b289d35a     6
63cfc61cee11cbe306bff5857d00bfe4     6
Name: count, dtype: int64

customer_city value counts:
customer_city
sao paulo                15540
rio de janeiro            6882
belo horizonte            2773
brasilia                  2131
curitiba                  1521
campinas                  1444
porto alegre              1379
salvador                  1245
guarulhos                 1189
sao bernardo do campo      938
Name: count, dtype: int64

customer_state value counts:
customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
Name: count, dtype: int64

In [28]:
# Dataset orders_data
orders_data = assess_data('data/olist_orders_dataset.csv')

Dataset loaded successfully from data/olist_orders_dataset.csv

--- First 5 Rows of Data ---
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

--- Missing Values ---
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
dtype: int64

--- Number of Duplicate Rows: 0

--- Statistical Summary ---
                                order_id                       customer_id  \
count                              99441                             99441
unique                             99441                             99441
top     66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24
freq                                   1                                 1

       order_status order_purchase_timestamp    order_approved_at  \
count         99441                    99441                99281
unique            8                    98875                90733
top       delivered      2018-08-02 12:05:26  2018-02-27 04:31:10
freq          96478                        3                    9

       order_delivered_carrier_date order_delivered_customer_date  \
count                         97658                         96476
unique                        81018                         95664
top             2018-05-09 15:48:00           2018-05-08 19:36:48
freq                             47                             3

       order_estimated_delivery_date
count                          99441
unique                           459
top              2017-12-20 00:00:00
freq                             522

--- Value Counts for Categorical Columns ---

order_id value counts:
order_id
66dea50a8b16d9b4dee7af250b4be1a5    1
6ec4642f9993cc34f826cfb9068e5a2f    1
38e9133ce29f6bbe35aed9c3863dce01    1
dfc6eb45a2753ed9e6c6ef4987b44503    1
6f46d42016226f77893ed3978d6903d0    1
f9e3402be5a5ea63344347582ca9f45f    1
1b4a0e6b19d0034b531655b41ea89623    1
788541a19c0791de0504c5a9cb7e7bd5    1
e6cc57f923c4dab2222b8c9aa8742eea    1
c627fe35fce1a754bc5b812d0b8ff379    1
Name: count, dtype: int64

customer_id value counts:
customer_id
edb027a75a1449115f6b43211ae02a24    1
f00bb12620b7b232233cace1b229db18    1
ad312389a098ceff46ce92c4595c06d0    1
a046c690e0564ffde0ce611b5eee2c30    1
3803547f820b1e10b7ad9c7985f06753    1
6f2cf56878f7f82151b0ad02590192c0    1
ce5efd1b1d8a2fa290a871edd5c26cd6    1
a537aaf902d2f436eb7f44817154bb68    1
2f4a42f9bb4b9a8cd402fa549df5c7fd    1
42b0671b440d1f2527bddd8b723e0a0c    1
Name: count, dtype: int64

order_status value counts:
order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

order_purchase_timestamp value counts:
order_purchase_timestamp
2018-08-02 12:05:26    3
2018-07-28 13:11:22    3
2018-02-19 15:37:47    3
2018-08-02 12:06:09    3
2018-03-31 15:08:21    3
2017-11-20 11:46:30    3
2018-04-11 10:48:14    3
2017-11-20 10:59:08    3
2018-08-02 12:06:07    3
2018-06-01 13:39:44    3
Name: count, dtype: int64

order_approved_at value counts:
order_approved_at
2018-02-27 04:31:10    9
2017-12-05 10:30:42    7
2018-02-06 05:31:52    7
2017-11-07 07:30:38    7
2017-11-07 07:30:29    7
2018-07-05 16:33:01    7
2018-01-10 10:32:03    7
2018-02-27 04:31:01    7
2018-07-27 04:05:17    6
2018-02-27 04:31:04    6
Name: count, dtype: int64

order_delivered_carrier_date value counts:
order_delivered_carrier_date
2018-05-09 15:48:00    47
2018-05-10 18:29:00    32
2018-05-07 12:31:00    21
2018-05-02 15:15:00    16
2018-07-24 16:07:00    16
2018-08-08 15:01:00    15
2018-05-16 13:44:00    15
2018-08-03 15:10:00    15
2018-07-17 14:16:00    15
2018-05-17 15:06:00    14
Name: count, dtype: int64

order_delivered_customer_date value counts:
order_delivered_customer_date
2018-05-08 19:36:48    3
2018-05-14 20:02:44    3
2018-05-08 23:38:46    3
2016-10-27 17:32:07    3
2018-07-24 21:36:42    3
2017-06-19 18:47:51    3
2017-12-02 00:26:45    3
2018-02-14 21:09:19    3
2017-05-13 09:37:37    2
2018-01-08 22:04:15    2
Name: count, dtype: int64

order_estimated_delivery_date value counts:
order_estimated_delivery_date
2017-12-20 00:00:00    522
2018-03-12 00:00:00    516
2018-05-29 00:00:00    513
2018-03-13 00:00:00    513
2018-02-14 00:00:00    507
2017-12-18 00:00:00    493
2018-03-06 00:00:00    492
2018-05-28 00:00:00    492
2018-02-06 00:00:00    491
2018-04-12 00:00:00    490
Name: count, dtype: int64

In [29]:
# Dataset product_category_data
product_category_data = assess_data('data/product_category_name_translation.csv')

Dataset loaded successfully from data/product_category_name_translation.csv

--- First 5 Rows of Data ---
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

--- Dataset Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

--- Missing Values ---
Series([], dtype: int64)

--- Number of Duplicate Rows: 0

--- Statistical Summary ---
       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

--- Value Counts for Categorical Columns ---

product_category_name value counts:
product_category_name
beleza_saude              1
informatica_acessorios    1
automotivo                1
cama_mesa_banho           1
moveis_decoracao          1
esporte_lazer             1
perfumaria                1
utilidades_domesticas     1
telefonia                 1
relogios_presentes        1
Name: count, dtype: int64

product_category_name_english value counts:
product_category_name_english
health_beauty            1
computers_accessories    1
auto                     1
bed_bath_table           1
furniture_decor          1
sports_leisure           1
perfumery                1
housewares               1
telephony                1
watches_gifts            1
Name: count, dtype: int64

**Insight:**
    <p><strong><code>order_items_data</code></strong>:</p>
    <ul>
      <li>Missing values: <strong>0</strong> (Tidak ada nilai yang hilang).</li>
      <li>Duplicate data: <strong>0</strong> (Tidak ada data yang terduplikasi).</li>
    </ul>
    <p><strong><code>products_data</code></strong>:</p>
    <ul>
      <li>Missing values:<ul>
          <li><code>product_category_name</code>: <strong>610</strong> missing values.</li>
          <li><code>product_name_lenght</code>: <strong>610</strong> missing values.</li>
          <li><code>product_description_lenght</code>: <strong>610</strong> missing values.</li>
          <li><code>product_photos_qty</code>: <strong>610</strong> missing values.</li>
          <li><code>product_weight_g</code>: <strong>2</strong> missing values.</li>
          <li><code>product_length_cm</code>: <strong>2</strong> missing values.</li>
          <li><code>product_height_cm</code>: <strong>2</strong> missing values.</li>
          <li><code>product_width_cm</code>: <strong>2</strong> missing values.</li>
        </ul>
      </li>
      <li>Duplicate data: <strong>0</strong> (Tidak ada data yang terduplikasi).</li>
    </ul>
    <p><strong><code>customer_data</code></strong>:</p>
    <ul>
      <li>Missing values: <strong>0</strong> (Tidak ada nilai yang hilang).</li>
      <li>Duplicate data: <strong>0</strong> (Tidak ada data yang terduplikasi).</li>
    </ul>
    <p><strong><code>orders_data</code></strong>:</p>
    <ul>
      <li>Missing values:<ul>
          <li><code>order_approved_at</code>: <strong>160</strong> missing values.</li>
          <li><code>order_delivered_carrier_date</code>: <strong>1783</strong> missing values.</li>
          <li><code>order_delivered_customer_date</code>: <strong>2965</strong> missing values.</li>
        </ul>
      </li>
      <li>Duplicate data: <strong>0</strong> (Tidak ada data yang terduplikasi).</li>
    </ul>
    <p><strong><code>product_category_data</code></strong>:</p>
    <ul>
      <li>Missing values: <strong>0</strong> (Tidak ada nilai yang hilang).</li>
      <li>Duplicate data: <strong>0</strong> (Tidak ada data yang terduplikasi).</li>
    </ul>
    <h3><strong>Kesimpulan</strong></h3>
    <p>
    Melihat jumlah missing values yang relatif kecil dibandingkan dengan ukuran dataset secara keseluruhan, sehingga tidak akan terlalu berdampak signifikan pada analisis. Maka proses cleaning data nanti akan dilakukan dengan cara menghapus data yang memiliki missing value tanpa mengganti nilainya.
    </p>

### Cleaning Data

In [32]:
# Dataset products_data
products_data_cleaned = products_data.dropna()

# Dataset orders_data
orders_data_cleaned = orders_data.dropna()

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2